body {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#playBtn {
    position: absolute;
    width: 180px;
    height: 100px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 40px;
    bottom: 20%;
    border-radius: 20px;
    background-color: darkblue;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    cursor: pointer;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#endBtn {
    position: absolute;
    width: 180px;
    height: 100px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 40px;
    bottom: 40%;
    border-radius: 20px;
    background-color: darkblue;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup.active {
    display: block;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-image: url('./assets/images/instruction_frame.png');
    background-size: cover;
    /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 400px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    /* Ensure content doesn't overflow */
    font-family: "AudioWide";
    /* Add extra padding for the content */
    padding-top: 7%;
    /* Adjust as needed */
    padding-right: 8%;
    /* Adjust as needed */
    padding-bottom: 8%;
    /* Adjust as needed */
    padding-left: 8%;
    /* Adjust as needed */
}

#instructions-content {
    overflow-y: auto;
    height: 100%;
    /* Ensure the content takes up all available space */
    box-sizing: border-box;
    padding: 10px;
    /* Adjust as needed */
}

#instructions-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    color: #333;
    /* Heading color */
}

#instructions-content h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    color: #009B77;
    /* Subheading color */
}

#instructions-content p {
    margin-bottom: 1em;
    color: #0072B5;
    /* Text color */
}

.key {
    background-color: black;
    border-radius: 3px;
    padding: 2px 4px;
    color: azure;
    font-family: monospace;
    font-weight: bold;
}



.popup .close-btn {
    position: relative;
    top: 0%;
    left: 93%;
    cursor: pointer;
    font-size: 20px;
    color: rgb(51, 51, 51);
}


.popup .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#instructions-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-family: "Audiowide";
    cursor: pointer;
    background: linear-gradient(to right, #553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    color: black;
    /* Change the text color */
    /* background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 2s infinite alternate-reverse;  */
}

@keyframes animated-gradient {
    to {
        background-position: 200%;
    }
}



::-webkit-scrollbar {
    width: 0;
}

#startBtn {
    position: absolute;
    width: 180px;
    height: 100px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 40px;
    bottom: 20%;
    border-radius: 20px;
    background-color: darkblue;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#avatar-instructions {
    position: absolute;
    bottom: 40%;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
    color: darkblue;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    display: none;
}

#avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatar-img {
    width: 50%;
    height: 50%;
    border: 2px solid white;
    border-radius: 100%;
    opacity: 0.7;
}

.avatar-img.clicked {
    border-color: orange;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    opacity: 1;
}

.avatar-img:hover {
    border: 2px solid greenyellow;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    opacity: 1;
}


.map-image {
    display: none;
}

#map-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-family: "Audiowide";
    cursor: pointer;
    background: linear-gradient(to right, #553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    color: black;
    /* Change the text color */
}

#map-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#map-popup.active {
    display: block;
}

#map-popup .overlay_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#map-popup .content_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    overflow: auto;
}

#map-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#next-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-family: "Audiowide";
    background-color: darkblue;
}