body{
    background: url(/assets/images/end_background.jpg);
    background-size: cover; 
}
#Heading{
    position: absolute;
    width:25%;
    height: 25%;
    left: 37.5%;
    top:5%;
    display: flex;
    background-image: url(/assets/images/thanks.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    animation: scaleUpDown 3s infinite alternate;
}
@keyframes scaleUpDown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); 
    }
    100% {
        transform: scale(1);
    }
}
#restartbutton{
        position: absolute;
        width: 180px;
        height: 100px;
        font-family: 'RocknRoll One', sans-serif;
        font-size: 40px;
        bottom: 7%;
        border-radius: 20px;
        background-color: darkblue;
        color: white;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        

}
.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-image: url('/assets/images/instruction_frame.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 400px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; 
    font-family: "AudioWide";
    padding-top: 7%; 
    padding-right: 8%; 
    padding-bottom: 8%; 
    padding-left: 8%; 
}

#gametheme-content {
    overflow-y: auto;
    height: 100%; 
    box-sizing: border-box;
    padding: 10px; 
    font-family: "Audiowide";
}
a{
    color: white;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0;
}